@page "/tasks"
@inject TaskService TaskService
   <div class="container mt-4">
     <h3 class="mb-3">Task List</h3>
         <div class="row mb-3">
           <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12 d-flex align-items-center mt-2 mt-md-0" style="display:flex; align-items:center; gap:10px;">
                        <!-- Filter input -->
                        <input type="text" @bind="searchText" placeholder="Search tasks by title..." class="form-control mb-3" style="width: 50rem;" />

                        <!-- Filter checkbox -->
                        <label>
                            <input type="checkbox" @bind="showCompleted"  class="form-check-input me-2"/>
                            Show Completed Only
                        </label>
                        <br/>
                        <button class="btn btn-primary" @onclick="OnFilterChanged">Filter</button>
                    </div>
                    <br/>
                    <label>Title, Description, IsCompleted</label>
                    <div class="col-md-12 col-sm-12 d-flex align-items-left mt-2 mt-md-0" style="display:flex; gap:10px; padding:10px; flex-direction:column;">
                        @if (tasks == null)
                        {
                            <p><em>Loading...</em></p>
                        }
                        else
                        {
                            <ul class="ms-3">
                                @foreach (var task in tasks)
                                {
                                    <li>@task.Title ,     @task.Description , (@(task.IsCompleted ? "Done" : "Pending")), <input class="form-check-input me-2" type="checkbox"  value="task.IsCompleted"  @onchange="@(async (e) => await UpdateTaskStatus(e, task))" />  </li>
                                }
                            </ul>
                        }
                  </div>
                      <br/>
    @* </div>
        <div class="col-md-6"> *@
                    <div class="col-md-12 col-sm-12 d-flex align-items-center mt-2 mt-md-0" style="display:flex; align-items:center; gap:10px;">
                        <input @bind="newTitle" placeholder="Title"  class="form-control" />
                        <input @bind="newDesc" placeholder="Description" class="form-control"  />
                        <button @onclick="AddTask" class="btn btn-sm btn-danger">Add Task</button>
                    </div>
                   <br/>
            </div>
        </div>
    </div>
@code {
    private string searchText = string.Empty;
    private bool showCompleted = false;
      private bool IsCompleted = false;
    private List<TaskDto>? tasks;
    private string newTitle = "";
    private string newDesc = "";
    private bool IsChecked = false;

    protected override async Task OnInitializedAsync()
    {
        tasks = await TaskService.GetAllTasksAsync();

       @*  if(searchText!="" || showCompleted)
        {       
              tasks = tasks.Where(t =>
                (t.Title.Contains(searchText, StringComparison.OrdinalIgnoreCase)) &&
                (t.IsCompleted == showCompleted)).ToList<TaskDto>();
                
        } *@
        StateHasChanged();    
    }
          
    private async Task OnFilterChanged()
    {
        tasks = await TaskService.GetAllTasksAsync();

        if(searchText!="" && showCompleted)
        {       
                tasks = tasks.Where(t =>
                (t.Title.Contains(searchText, StringComparison.OrdinalIgnoreCase)) &&
                (t.IsCompleted == showCompleted)).ToList<TaskDto>();
                
        }else if(showCompleted)
        {
                tasks = tasks.Where(t => t.IsCompleted == showCompleted).ToList<TaskDto>();
                    
        }else if(searchText!="")
        {
                tasks = tasks.Where(t => t.Title.Contains(searchText, StringComparison.OrdinalIgnoreCase)).ToList<TaskDto>();
        }
        StateHasChanged();    
    }

    private async Task AddTask()
    {
        TaskDto newTask = new TaskDto { Title = newTitle, Description = newDesc ,IsCompleted = false, CreatedAt = DateTime.Now}; 

        await TaskService.AddTaskAsync(newTask);
        tasks = await TaskService.GetAllTasksAsync();
        newTitle = newDesc = "";

        StateHasChanged();
    }

    private async Task UpdateTaskStatus(ChangeEventArgs e, TaskDto task)
    {
        // In a real application, send the updated task to your API to save to the database
        //Console.WriteLine($"Task {task.Id} - IsCompleted: {task.IsCompleted}");
        // Example: await Http.PutAsJsonAsync($"api/tasks/{task.Id}", task);
         task.IsCompleted = !task.IsCompleted;
         await TaskService.UpdateTaskAsync(task);
        //tasks = await TaskService.GetAllTasksAsync();
       // newTitle = newDesc = "";
         StateHasChanged();    
        //StateHasChanged();
    }
}